In [1]:
import pandas as pd

In [ ]:
!less who_suicide_statistics.csv

country,year,sex,age,suicides_no,population
Albania,1985,female,15-24 years,,277900
Albania,1985,female,25-34 years,,246800
Albania,1985,female,35-54 years,,267500
Albania,1985,female,5-14 years,,298300
Albania,1985,female,55-74 years,,138700
Albania,1985,female,75+ years,,34200
Albania,1985,male,15-24 years,,301400
Albania,1985,male,25-34 years,,264200
Albania,1985,male,35-54 years,,296700
Albania,1985,male,5-14 years,,325800
Albania,1985,male,55-74 years,,132500
Albania,1985,male,75+ years,,21100
Albania,1986,female,15-24 years,,283900
Albania,1986,female,25-34 years,,252100
Albania,1986,female,35-54 years,,273200
Albania,1986,female,5-14 years,,304700
Albania,1986,female,55-74 years,,141700
Albania,1986,female,75+ years,,34900
Albania,1986,male,15-24 years,,306700
Albania,1986,male,25-34 years,,269000
Albania,1986,male,35-54 years,,302000
Albania,1986,male,5-14 years,,331600
who_suicide_statistics.csv

In [3]:
df = pd.read_csv('who_suicide_statistics.csv')

In [4]:
df.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population'], dtype='object')

In [5]:
df.head()

   country  year     sex          age  suicides_no  population
0  Albania  1985  female  15-24 years          NaN    277900.0
1  Albania  1985  female  25-34 years          NaN    246800.0
2  Albania  1985  female  35-54 years          NaN    267500.0
3  Albania  1985  female   5-14 years          NaN    298300.0
4  Albania  1985  female  55-74 years          NaN    138700.0

In [20]:
df.groupby('country').apply(lambda d: sum(d.suicides_no)/sum(d.population))

country
Albania                                    NaN
Anguilla                                   NaN
Antigua and Barbuda                   0.000005
Argentina                             0.000079
Armenia                                    NaN
Aruba                                 0.000068
Australia                                  NaN
Austria                                    NaN
Azerbaijan                                 NaN
Bahamas                                    NaN
Bahrain                               0.000028
Barbados                              0.000027
Belarus                                    NaN
Belgium                               0.000212
Belize                                     NaN
Bermuda                                    NaN
Bolivia                                    NaN
Bosnia and Herzegovina                     NaN
Brazil                                0.000046
British Virgin Islands                     NaN
Brunei Darussalam                          NaN
Bulgaria                                   NaN
Cabo Verde                            0.000093
Canada                                0.000133
Cayman Islands                             NaN
Chile                                      NaN
Colombia                              0.000048
Costa Rica                                 NaN
Croatia                               0.000215
Cuba                                       NaN
                                        ...
Saudi Arabia                               NaN
Serbia                                0.000192
Seychelles                            0.000070
Singapore                             0.000107
Slovakia                                   NaN
Slovenia                              0.000285
South Africa                          0.000008
Spain                                      NaN
Sri Lanka                             0.000325
Suriname                              0.000188
Sweden                                     NaN
Switzerland                                NaN
Syrian Arab Republic                       NaN
TFYR Macedonia                             NaN
Tajikistan                                 NaN
Thailand                              0.000070
Trinidad and Tobago                   0.000119
Tunisia                                    NaN
Turkey                                0.000021
Turkmenistan                               NaN
Turks and Caicos Islands                   NaN
Ukraine                                    NaN
United Arab Emirates                  0.000017
United Kingdom                             NaN
United States of America                   NaN
Uruguay                                    NaN
Uzbekistan                                 NaN
Venezuela (Bolivarian Republic of)    0.000046
Virgin Islands (USA)                       NaN
Zimbabwe                                   NaN
Length: 141, dtype: float64